.table-wrapper {
  overflow-x: scroll;
}

/* Limit image width to avoid overflow the container */
#CropperImage {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
  max-height: 100%; /* This rule is very important, please do not ignore this! */
}

 
.login-page {
  background-color: #3e5050;
  padding-left: 0;
  max-width: 360px;
  margin: 8% auto;
  overflow-x: hidden;
}


.login-page .login-box .logo {
  margin-bottom: 0px; 
}

#ImageInput{
  max-width:75px;
  max-height:70px;
  overflow:hidden;
  cursor:pointer;
  font-size: 5em;
}



.switch-two-way label .lever {
  background-color: #9fa8da;
}


.switch-two-way label .lever:after {
  background-color: #3f51b5;
}

.bg-project{
 background-color:#ff7200 !important;
 color:#FFF !important;
}

.bg-project h2{
 color:#FFF !important; 
}

.pagination>.active>span{
    background-color: #ff7200;
    border-color: #ff7200;
}

.pagination>li>a, .pagination>li>span{
   color: #787675;
}

a{
  font-weight: 600;
  color:#444;
}
a:hover,a:focus,a:active{
  color:#444;
  text-decoration: none;
}